# Python cache
__pycache__/
*.pyc

# Virtuální prostředí
venv/
.env

# Velké soubory a checkpointy (ty patří spíše na Hugging Face nebo Drive)
checkpoints/
*.bin
*.pth
spm_model.model
spm_model.vocab
plant_net_state.json

# IDE a OS soubory
.vscode/
.idea/
.DS_Store